@font-face {
	font-family: 'Poppins';
	src: url('/fonts/PoppinsSemiBold.woff2') format('woff2'),
		url('/fonts/PoppinsSemiBold.woff') format('woff');
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/PoppinsRegular.woff2') format('woff2'),
		url('/fonts/PoppinsRegular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/PoppinsMedium.woff2') format('woff2'),
		url('/fonts/PoppinsMedium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}